.app {
  display: flex;
  background-color: #ef2f88;
  justify-content: center;
  align-items: center;
}
.back {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/Linou/backFR.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.app.hide .collection {
  display: none;
}
.app.hide .text {
  display: flex;
}

.text {
  position: relative;
  display: none;
  flex-flow: column;
  color: #f9d371;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
  transition: all 2s ease-in;
}
.text span {
  text-align: center;
}
